<div class="character-index">
<% @characters.each do |character| %>
  <div class="character-info">
    <h3><a href="<%= house_character_path(character.house, character) %>"><%= character.name %></a>, <a href="<%= house_path(character.house) %>"><%= character.house.name %></a></h3>
    <img src="<%= character.photo_url %>" alt="<%= character.name %>" width="100px">
  </div>
<% end %>

</div>

<a href="<%= new_character_path %>" class="crud">Create a new Character</a>
